/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

body{
    font-size: 13px;
}



/* COMMON */

.my-wrapper{
    width: 60%;
    margin: auto;
    max-width: 1000px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    
}








/* header */

header{
    background-color:#1b1b30;
    padding: 25px 0;
    color: white;
}

.burger-menu{
    font-size: 12px;
    text-align: center;
}

.burger-menu ul li{ 
    display: inline-block;
    padding: 0 10px;
}

.burger{
    text-align: right;
    font-size: 20px;
}
/* end header */

/* MAIN */

.start,
.about{
    color: white;
    background-color:#1abc9c;
}

.jumbotron{
    
    padding: 20px 0;
}

.jumbo-contents{
    width: 100%;
    margin: auto;
    text-align: center;
}

.img-container{
    width: 200px;
    margin: auto;
    
}

.jumbo-title{
    margin: 10px 0;
    padding: 10px 0;
    
}

.star_container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star{
    margin: 0 10px;
}

.line{
    width: 80px;
    height: 3px;
    
}

.line_white{
    background-color: white;
}

.line_black{
    background-color: black;
}



    



.jumbo-description{
    margin: 10px 0;
    padding: 20px 0;

}

/* Portfolio */

.porfolio-title{
    width: 100%;
    padding: 30px 0;
    text-align: center;
    margin: auto;
  
}

.portfolio-title h2{
    color: black;
}

.row-wrap{
    padding: 20px 0;
}



.images img{
    border-radius: 10px;
}

/* about */



.about-title{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
   
}

.botton_container{
 
    min-width: 100px;
    display: inline-block;
    line-height: normal;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px 20px;
    margin: auto;
    
}

 .btn_wrap{ 
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}

.box-text{
    padding: 20px 0;
}

/* COntact */

.contact-title{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    
}

.references{
    padding: 20px 0;
}

.references input[type="text"],
.references input[type="email"],
.references textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 20px;
    font-size: 18px;
}

.form-control:focus{
    box-shadow: none;
}

.send{
   background-color: #1abc9c;
   color: white;
   
}

/* FOOTER */

footer{

    color: white;
    padding-top: 20px;
}

.footer-top{
    background-color:#3a546d;
}

.box-text-footer{
    text-align: center;
    padding: 20px 0;
}

.footer-description-center{
    display: flex;
    justify-content: center;
}

.footer-icons {
    width: 40px;
    height: auto;
    line-height: 40px;
    
}

.footer-icons i{
    font-size: 15px;
    
}

/* Footer bottom */

.footer-bottom{
    background-color: #2c3e50;
    color: white;
}

.footer-bottom{
    padding: 50px 0;
}




/* MEDIA QUEries */

@media screen and (min-width:768px){
    .header-title{
        text-align: center;
    }
    
}