/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}





/* COMMON */

.my-wrapper{
    width: 60%;
    margin: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
    
}






/* header */

header{
    background-color:#1b1b30;
    padding: 25px 0;
    color: white;
}

.burger-menu{
    font-size: 12px;
    text-align: center;
}

.burger-menu ul li{ 
    display: inline-block;
    padding: 0 10px;
}

.burger{
    text-align: right;
    font-size: 20px;
}
/* end header */

/* MAIN */

.start,
.about{
    color: white;
    background-color:#2f9b78;
}

.jumbotron{
    
    padding: 20px 0;
}

.jumbo-contents{
    width: 60%;
    margin: auto;
    text-align: center;
}

.img-container{
    width: 200px;
    margin: auto;
    
}

.jumbo-title{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 2px solid white;
}
.jumbo-description{
    margin: 10px 0;
    padding: 20px 0;

}

/* Portfolio */

.porfolio-title{
    width: 50%;
    padding: 30px 0;
    text-align: center;
    margin: auto;
}

.portfolio-title h2{
    color: black;
}

.row-wrap{
    padding: 20px 0;
}

/* about */



.about-title{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}

.btn{
 
    min-width: 100px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px 20px;
    margin: auto;
}

.btn-wrap{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}






/* MEDIA QUEries */

@media screen and (min-width:768px){
    .header-title{
        text-align: center;
    }
    
}